<div class="stock">
	<div class="row mr-item-4n">
		<div class="col-md-12 fnt-14 mr-bottom-16px">
			<div class="padding-right-left-16px">
				<span class="clr-black">Сортировать:</span>
				<ol class="d-inline-flex sorting">
					<li class="sorting__item active asc"><a href="#">По цене</a></li>
					<li class="sorting__item"><a href="#">По рейтингу</a></li>
					<li class="sorting__item"><a href="#">По популярности</a></li>
				</ol>
			</div>
		</div>
		<div class="col-md-4 col-6">
			<div class="stock-card brd-gray">
				<img class="stock-card__image" src="images/image 1.png">
				<div class="stock-card__middle-info">
					<div class="stock-card__between-price">
						<span class="stock-card__price-value fnt-24">160 ₽</span>
						<span class="stock-card__price-to clr-82 fnt-12">
							80 ₽
						</span>
					</div>
					<div class="stock-card__title stck-js-title">
						<span class="fnt-14 clr-82 "><a href="#">Напиток сильногазированный Coca-Cola сlassic стекло 0.33 л</a></span>
					</div>								
				</div>
				<button class="stock-card__add-to-card clr-green fnt-15"><a href="#">В корзину</a></button>
			</div>
		</div>
		<div class="col-md-4 col-6">
			<div class="stock-card brd-gray">
				<img class="stock-card__image" src="images/image 1.png">
				<div class="stock-card__middle-info">
					<div class="stock-card__price">
						<span class="stock-card__price-value fnt-24">160 ₽</span>
						<span class="stock-card__price-old-value clr-82"><strike>182 ₽</strike></span>
					</div>
					<div class="stock-card__title stck-js-title">
						<span class="fnt-14 clr-82 "><a href="#">Напиток сильногазированный Coca-Cola сlassic стекло 0.33 л</a></span>
					</div>								
				</div>
				<button class="stock-card__add-to-card clr-green fnt-15"><a href="#">В корзину</a></button>
			</div>
		</div>
	</div>
</div>