<div class="selles">	
	<h2 class="article__title clr-black">Продавцы</h2>
	<div class="row mr-item-4n-2n">
		<div class="col-md-3">
			<div class="selles-card d-flex align-items-end justify-content-center" style="background: url('images/Rectangle 2 (1).jpg') no-repeat center / cover;">
				<div class="d-flex flex-column align-items-center clr-white">
					<img src="images/Rectangle 3.jpg" alt="" class="selles-card__image">
					<div class="mr-top-12px"></div>
					<p class="fnt-18 mr-top-4px">prodvdom</p>
					<p class="fnt-12 mr-top-12px">Колхозный рынок, ул. Московская, 24</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="selles-card d-flex align-items-end justify-content-center" style="background: url('images/Rectangle 2 (1).jpg') no-repeat center / cover;">
				<div class="d-flex flex-column align-items-center clr-white">
					<img src="images/Rectangle 3.jpg" alt="" class="selles-card__image">
					<div class="mr-top-12px"></div>
					<p class="fnt-18 mr-top-4px">prodvdom</p>
					<p class="fnt-12 mr-top-12px">Колхозный рынок, ул. Московская, 24</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="selles-card d-flex align-items-end justify-content-center" style="background: url('images/Rectangle 2 (1).jpg') no-repeat center / cover;">
				<div class="d-flex flex-column align-items-center clr-white">
					<img src="images/Rectangle 3.jpg" alt="" class="selles-card__image">
					<div class="mr-top-12px"></div>
					<p class="fnt-18 mr-top-4px">prodvdom</p>
					<p class="fnt-12 mr-top-12px">Колхозный рынок, ул. Московская, 24</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="selles-card d-flex align-items-end justify-content-center" style="background: url('images/Rectangle 2 (1).jpg') no-repeat center / cover;">
				<div class="d-flex flex-column align-items-center clr-white">
					<img src="images/Rectangle 3.jpg" alt="" class="selles-card__image">
					<div class="mr-top-12px"></div>
					<p class="fnt-18 mr-top-4px">prodvdom</p>
					<p class="fnt-12 mr-top-12px">Колхозный рынок, ул. Московская, 24</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="selles-card d-flex align-items-end justify-content-center" style="background: url('images/Rectangle 2 (1).jpg') no-repeat center / cover;">
				<div class="d-flex flex-column align-items-center clr-white">
					<img src="images/Rectangle 3.jpg" alt="" class="selles-card__image">
					<div class="mr-top-12px"></div>
					<p class="fnt-18 mr-top-4px">prodvdom</p>
					<p class="fnt-12 mr-top-12px">Колхозный рынок, ул. Московская, 24</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="selles-card d-flex align-items-end justify-content-center" style="background: url('images/Rectangle 2 (1).jpg') no-repeat center / cover;">
				<div class="d-flex flex-column align-items-center clr-white">
					<img src="images/Rectangle 3.jpg" alt="" class="selles-card__image">
					<div class="mr-top-12px"></div>
					<p class="fnt-18 mr-top-4px">prodvdom</p>
					<p class="fnt-12 mr-top-12px">Колхозный рынок, ул. Московская, 24</p>
				</div>
			</div>
		</div>
	</div>
</div>	