<div class="reviews">
	<div class="reviews__item">
		<div class="reviews__avatar">
			<img src="images/image 1.jpg" alt="">
		</div>
		<div class="reviews__info">
			<span class="reviews__name clr-black fnt-18">Алексей Ионов</span>
			<div class="raiting_output">12345</div>
			<div class="reviews__desc clr-4f">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parturient pellentesque viverra quis morbi lobortis fringilla pharetra pretium etiam. Vulputate imperdiet risus id in est magna id. Arcu vitae integer porttitor nibh proin nisi, lobortis rhoncus. Suspendisse pharetra faucibus id id in quam sit.
			</div>
			<div class="reviews__date">
				<span class="fnt-14 clr-82">Имя продавца  •  28.09.2020</span>
			</div>
		</div>
	</div>
	<div class="reviews__item">
		<div class="reviews__avatar">
			<img src="images/image 1.jpg" alt="">
		</div>
		<div class="reviews__info">
			<span class="reviews__name clr-black fnt-18">Алексей Ионов</span>
			<div class="raiting_output">12345</div>
			<div class="reviews__desc clr-4f">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parturient pellentesque viverra quis morbi lobortis fringilla pharetra pretium etiam. Vulputate imperdiet risus id in est magna id. Arcu vitae integer porttitor nibh proin nisi, lobortis rhoncus. Suspendisse pharetra faucibus id id in quam sit.
			</div>
			<div class="reviews__date">
				<span class="fnt-14 clr-82">Имя продавца  •  28.09.2020</span>
			</div>
		</div>
	</div>
	<div class="reviews__item">
		<div class="reviews__avatar">
			<img src="images/image 1.jpg" alt="">
		</div>
		<div class="reviews__info">
			<span class="reviews__name clr-black fnt-18">Алексей Ионов</span>
			<div class="raiting_output">12345</div>
			<div class="reviews__desc clr-4f">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Parturient pellentesque viverra quis morbi lobortis fringilla pharetra pretium etiam. Vulputate imperdiet risus id in est magna id. Arcu vitae integer porttitor nibh proin nisi, lobortis rhoncus. Suspendisse pharetra faucibus id id in quam sit.
			</div>
			<div class="reviews__date">
				<span class="fnt-14 clr-82">Имя продавца  •  28.09.2020</span>
			</div>
		</div>
	</div>
</div>	