%grid{
	display: grid;
}
%hover-green{
	&:hover{
		color: #2F993A;
	}
}
@mixin for-mobile{
	@media screen and (max-width: 576px){
		@content;
	}
}	

.article{
	padding: 14px 0 36px 0;
	background: #FFFFFF;
	@include for-mobile{
		border-radius: 16px;
	}
}

.article__title{
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	margin: 0 0 24px 0;
	@include for-mobile{
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
	}
}

.article__title_def{
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	margin: 0 0 24px 0;
}

.article__form-search{
	height: 48px;
	width: 100%;
	border-radius: 5px;
	padding: 16px 10px 16px 44px;
	border: 3px solid #F2F2F2;
	background: url(../../images/search.png) no-repeat;
	background-position: 17px 50%; 
	@include for-mobile{
		margin: 12px 0 0 0;
	}
}

.article__top-menu{
	@extend %grid;
	grid-template-columns: 246px 253px 214px;
	grid-template-rows: 48px;
	grid-template-areas: 'a b c';
	grid-column-gap: 12px;
	position: relative;
	>*:nth-child(1){
		grid-area: a;
		cursor: pointer;
		padding: 0 27px;
		display: inline-block;
		position: relative;
		&:before{
			content: url(../../images/kvadrat.png);
			width: 18px;
			height: 18px;
			position: absolute;
			left: 15px;
		}
		&:after{
			position: absolute;
			right: 15px;
			content: url(../../images/catalog-strelka-vniz.png);
		}
	}
	>*:nth-child(2){
		grid-area: b;
	}
	>*:nth-child(3){
		grid-area: c;	
	}
	>li{
		text-align: center;
		border-radius: 24px;
		width: 100%;
		@include for-mobile{
			padding: 11px 0;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
		}
	}
	@include for-mobile{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: max-content;
		grid-column-gap: 4px;
	}
}

.catalog-mouse-body__li{
	background: url("../../images/catalog-right.png") no-repeat right center;
	&:hover{
		background: url("../../images/catalog-right-active.png") no-repeat right center;
	}
	img{
		width: 24px;
		height: 24px;
		margin: 0 12px 0 0;
	}
	a{
		word-break: break-word;
		margin: 0 35px 0 0
	}
	&.active{
		background: url("../../images/catalog-down.png") no-repeat right center;
	}
}

#mouseoverCatalog:hover{
	.catalog-mouse-body{
		display: block;
	}
} 

.catalog-mouse-body{
	position: absolute;
	top: 100%;
	left: 0;
	height: auto;
	cursor: pointer;
	display: none;
	z-index: 2;
	@include for-mobile{
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

.catalog-mouseover__list[data-two-level-d]{
	display: none;
}

.catalog-mouseover{	
	margin: 15px 0 0 0;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-shadow: 0px 0px 84px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
	z-index: 3;
	/*top: calc(100% + 15px);*/
	@extend %grid;
	grid-template-columns: 300px max-content;
	grid-template-rows: 1fr;
	grid-template-areas: 'a b';
	padding: 25px;
	.catalog-mouseenter__first-level{
		grid-area: a;
	}
	.catalog-mouseenter__second-level{
		grid-area: b;
		ul{
			/*display: none;*/
		}
	}
	@include for-mobile{
		margin: 7px 0 0 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'a';
	}
}

.catalog-mouseenter__first-level{
	@include for-mobile{
		width: 100%;
		border: 0px;
	}
}

.catalog-mouseenter__second-level{
	@include for-mobile{
		border-left: 0px;
	}
}

.catalog-mouseover__list{
	li{
		@extend %hover-green;
		&:not(:first-child){
			margin: 16px 0 0 0;
		}
	}
}

.catalog-two-level{
	@include for-mobile{
		margin: 19px 0 22px 51px;
		color: #4F4F4F;	
		display: none;
	}
}

.main-slider{
	margin: 19px 0 60px 0;
	height: 300px;
	.slick-list{
		height: 100%;
		.slick-track{
			height: 100%;
		}
	}
	@include for-mobile{
		height: 150px;
		margin: 19px 0 38px 0;
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		li{
			button{
				margin: 0 4px;
				width: 12px;
				height: 14px;	
				border-radius: 50%;
				border: 1px solid #2F993A; 	
				background-color: white;
				&:focus{
					outline: 0;
				}		
			}
		}
		.slick-active{
			button{
				background: #2F993A;
			}
		}
	}
	.slick-prev{
		width: 44px;
		height: 44px;
		background: url(../../images/left.svg);
		font-size: 0;
		border: 0;
		padding: 0;
		left: 12px;
		bottom: 50%;
		transform: translate(0px, 50%);
	}
	.slick-next{
		width: 44px;
		height: 44px;
		background: url(../../images/right.svg);
		font-size: 0;
		border: 0;
		padding: 0;
		right: 12px;
		bottom: 50%;
		transform: translate(0px, 50%);
	}
}

.main-slider__item{
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.detial-slider__main{
	height: 300px;
	width: 100%;
	img{
		width: 100%;
		height: 300px !important;
		object-fit: contain;
	}
	@include for-mobile{
		margin: 0 0 44px 0;
		.slick-dots{
			margin: 8px 0 0 0;
			display: flex;
			justify-content: center;
			li{
				button{
					margin: 0 4px;
					width: 12px;
					height: 14px;	
					border-radius: 50%;
					border: 1px solid #2F993A; 	
					background-color: white;
					&:focus{
						outline: 0;
					}		
				}
			}
			.slick-active{
				button{
					background: #2F993A;
				}
			}
		}
		img{
			width: 100%;
		}
	}
}

.detail-slider__list{
	width: 78px;
	height: 148px;
	img[data-slick-index]{
		height: 44px;
		opacity: 0.5;
		object-fit: contain;
		&.slick-current{
			opacity: 1;
		}
	}
}

.main-images{
	margin: 19px 0 0 0;
	@extend %grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 140px);
	grid-row-gap: 20px;
	grid-template-areas: 'a '
	'b';
	*:nth-child(1){
		grid-area: a;
	}
	*:nth-child(2){
		grid-area: b;
	}
	@include for-mobile{
		margin: 0 0 24px 0;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 100px;
		grid-column-gap: 11px;
		grid-template-areas: 'a b';
	}
}

.main-images__item{
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	border-radius: 12px;
}

.stock-card{
	word-break: break-word;
	padding: 16px;
	@extend %grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	grid-row-gap: 24px;
	grid-template-areas: 'a'
	'b'
	'c';
	.stock-card__image {
		grid-area: a;
	}
	.stock-card__middle-info {
		grid-area: b;
	}
	.stock-card__add-to-card {
		grid-area: c;
	}
	@include for-mobile{
		padding: 8px;
	}
}

%button-add-to-cart{
	border: 2px solid #2F993A;
	border-radius: 5px;
	height: 42px;
	width: 100%;
}

.stock-card__add-to-card{
	@extend %button-add-to-cart;
	background: #FFFFFF;
	&:hover{
		background: #2F993A;
		color: #FFFFFF;
	}
	&.disabled{
		border: 2px solid #F2F2F2;
		background: #F2F2F2;
		color: #828282;
	}
}

.stock-card__add-to-card-green{
	@extend %button-add-to-cart;
	background: #2F993A;
}

.stock-card__add-to-card-green.disabled{
	background: #E0E0E0;
	border-radius: 5px;
	border: 0px;
}

.stock-card__between-price{
	.stock-card__price-value{
		&:before{
			content: "от";
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: #828282;
			padding: 0 4px 0 0;
		};
	}
}

.stock-card__price-old-value{
	margin: 0 0 0 12px;
	@include for-mobile{
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
	}
}

.stock-card__price-to{
	&:before{
		content: "до";
		margin: 0 0 0 12px;

	};
}

.stock-card__image{
	width: 100%;
	object-fit: contain;
	height: 160px;
}

.stock-card__middle-info{
	@extend %grid;
	grid-gap: 12px;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 1fr;
	grid-template-areas: 'a'
	'b';
	.stock-card__price {
		grid-area: a;
	}
	.stock-card__title {
		grid-area: b;
	}
}

.stock-card__price-value{
	@include for-mobile{
		font-weight: 600 !important;
		font-size: 18px !important;
		line-height: 22px !important;
	}
}

.stock-card__title{
	@include for-mobile{
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
	}
}

.selles{
	margin: 48px 0 0 0;
}

.selles-card{
	background: gray;
	padding: 16px;
	height: 420px;
	border-radius: 12px;
	position: relative;	
	@include for-mobile{
		height: 250px;
	}
	&:after{
		content: "";
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
		position: absolute;
		bottom: 0;
		height: 192px;
		width: 100%;
		border-radius: 12px;
	}
	>*{
		z-index: 1;
	}
}

.selles-card__name{
	@extend %hover-green;
	word-break: break-all;
}

.selles-card__star{
	width: 12px;
	height: 12px;
}

.selles-card__image{
	min-width: 100px;
	width: 100px;
	height: 100px !important;
	border-radius: 50%;
	object-fit: fill;
	img{
		width: 100%;
		height: 100%;
	}
}

.selles-card__info-main{
	margin: 0 0 0 12px;
	>*:nth-child(2){
		margin: 4px 0;
	}
}

.footer{
	overflow: hidden;
	padding: 36px 0;
	background-color: #fbfbfb;
	position: relative;
	@include for-mobile{
		padding: 17px 0;
	}
}

div:not(:first-child) .footer__column{
	@include for-mobile{
		margin: 20px 0 0 0;
	}
}

.footer__lines{
	background: url("../../images/footer_line_one.png");
	background-repeat: repeat-x;
	height: 107px;
	width: 100%;
	position: absolute;
}

.footer__lines-first{
	position: absolute;
	left: -150px;
}

.footer__nav{
	ul{
		li:first-child{
			margin: 24px 0 0 0;
		}
		li:not(:first-child){
			margin: 12px 0 0 0;
		}
	}
}

.footer__ul{
	display: block;
	background-color: white;
	background-color: #fbfbfb;
	padding: 0 0 10px 0;
	@include for-mobile{
		display: none;
		z-index: 3;
		width: 100%;
		position: absolute;
	}
}

.footer__title{
	position: relative;
	background: none;
	@include for-mobile{
		background: url("../../images/up_footer.png");
		background-repeat: no-repeat;
		background-position: right;
	}
}

.footer__question{
	margin: 36px 0 0 0;
	@include for-mobile{
		width: 260px;
		margin: 25px auto 0 auto;
	}
}

.footer__right-column{
	z-index: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, max-content);
	grid-template-areas: 'a' 'b' 'c';
	.footer__title{
		grid-area: b;
	}
	.footer__phone{
		grid-area: c;
	}
	.footer__social{
		grid-area: a;
	}
	@include for-mobile{
		display: block;
	}
}

.footer__phone{
	margin: 16px auto;
	padding: 16px 32px;
	background: #FFFFFF;
	text-align: center;
	border: 2px solid #F2F2F2;
	border-radius: 12px;
	>*:last-child{
		margin: 8px 0 0 0;
	}
	@include for-mobile{
		width: 260px;
	}
}

%social-width-height{
	width: 24px;
	height: 24px;
}

.footer__social{
	*:not(:first-child){
		margin: 0 0 0 24px;
	}
	.footer__social-icon{
		@extend %social-width-height;
	}
}

.breadcrumb{
	flex-wrap: wrap;
	margin: 18px 0px 0px 0px;
}

.breadcrumb__item{
	&:first-child{
		padding: 0 5px 0 0;
	};
	&:not(:first-child){
		padding: 0 5px;
		&:before{
			content: "/";
			padding: 0 10px 0 0;
		};
	};
}

.sidebar-left.profile_sidebar{
	margin: 10px 0 0 0;
	@include for-mobile{
		display: none;
	}
	.sidebar-left__item{
		&:before{
			margin: 0 13px 0 0;
			width: 24px;
			height: 24px;
		};
	}
	.sidebar-left__item:nth-child(1){
		&:before{
			content: url("../../images/profile/dashboard.png");
		};
	}
	.sidebar-left__item:nth-child(2){
		&:before{
			content: url("../../images/profile/shopping-bag.png");
		};
	}
	.sidebar-left__item:nth-child(3){
		&:before{
			content: url("../../images/profile/heart.png");
		};
	}
	.sidebar-left__item:nth-child(4){
		&:before{
			content: url("../../images/profile/Pin.png");
		};
	}
	.sidebar-left__item:nth-child(5){
		&:before{
			content: url("../../images/profile/User 24px.png");
		};
	}
	.sidebar-left__item:nth-child(6){
		&:hover{
			color: red;
		}
		&:before{
			content: url("../../images/profile/log-out.png");
		};
	}
}

.sidebar-left__item{
	padding: 12px 16px;
	cursor: pointer;
	&:hover{
		@extend %hover-green;
	}	
	&.active{
		color: #2F993A;
		background: rgba(48, 153, 57, 0.12);
		border-radius: 5px;
	}
	img{
		margin: 0 12px 0 0;
	}
}

.toggle_items__item{
	display: none;
	&.active{
		display: block;
	}
}

.sidebar-left-title{
	position: relative;
	@include for-mobile{
		&:after{
			content: url("../../images/up_footer.png");
			width: 14px;
			height: 8px;
			position: absolute;
			right: 0;
		}	
	}
}

.sidebar-left__mark{
	line-height: 170% !important;
}

.pagination{
	margin: 47px 0 0 0;
	ul{
		display: flex;
		justify-content: center;
	}
	%arrow{
		width: 9px;
		height: 14px;
		display: inline-block;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: 9px;
			height: 14px;
		}
	}
	.next{
		@extend %arrow;
		&:after{
			background: url("../../images/chevron-right-1.png");
		};
	}
	.prev{
		@extend %arrow;
		&:after{
			background: url("../../images/chevron-right.png");
		}
	}
	li{
		margin: 0 8px;
	}
	.current{
		color: #000000;
	}
}

.mr-sorting-bottom{
	margin: 0 0 16px 0;
}

.sorting{
	@include for-mobile{
		margin: 8px 0 0 0;
	}
}

.sorting__item{
	&.active{
		color: #828282;
	}
	&.active.asc{
		&:after{
			content: url("../../images/sort.svg");
			width: 6px;
			height: 8px;
			margin: 0 0 0 6px;
		}
	}
	&.active.desc{
		&:after{
			content: url("../../images/sort-desc.png");
			width: 6px;
			height: 8px;
			margin: 0 0 0 6px;
		}
	}
	&{
		margin: 0 0 0 12px;
		color: #2F993A;
		@include for-mobile{
			&:not(:first-child){
				margin: 0 0 0 16px;
			}
			&:first-child{
				margin: 0;
			};
		}
	}
}

.add-panel{
	margin: 0 0 17px 0;
}

.add-to-favourites{
	margin: 0 0 0 36px;
	display: inline-block;
	position: relative;
	&:before{
		position: absolute;
		content: url("../../images/heart.png");
		width: 13px;
		height: 13px;
		left: -18px;
		top: 0px;
	}
}

.charac-left{
	margin: 0 23px 0 0;
}

%margin-16px{
	margin: 16px 0 0 0;
}

.charac-left__item{
	@extend %margin-16px;
	&:not(:first-child){
		margin: 12px 0 0 0;
	}
}

.charac-right__item{
	@extend %margin-16px;
	&:not(:first-child){
		margin: 12px 0 0 0;
	}	
}

.description-detail{
	margin: 24px 0 0 0;
	line-height: 160% !important;
}

.buy-detail{
	padding: 24px;
	@include for-mobile{
		margin: 12px 0 0 0;
	}
}

.buy-detail__subtotal{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-row-gap: 16px;
	grid-template-areas: 'a b'
	'c d';
	>*:nth-child(1){
		grid-area: a;
	}
	>*:nth-child(2){
		grid-area: b;
	}
	>*:nth-child(3){
		grid-area: c;
	}
	>*:nth-child(4){
		grid-area: d;
	}
	>*:nth-child(2n){
		text-align: end;
	}
}

.buy-detail__col-sellers{
	margin: 0 auto;
	&:before{
		content: url("../../images/home-icon.svg");
		width: 12px;
		height: 12px;
		margin: 0 6px 0 0;
	}
}

.write-review{
	@extend %margin-16px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, auto);
	grid-row-gap: 14px;
	grid-template-areas: 'write-review_a'
	'write-review_b'
	'write-review_c'
	'write-review_d'
	'write-review_e'
	'write-review_f'
	'write-review_g'
	'write-review_h'
	;
}

.write-review__item{
	p{
		margin: 0 0 4px 0;
	}
}

.write-review__textarea{
	resize: none;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	width: 100%;
}

.write-review__select{
	width: 100%l
}

.reviews__item{
	display: grid;
	grid-template-columns: 48px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'reviews__item-a reviews__item-b';
	grid-column-gap: 24px;
	.reviews__avatar{
		grid-area: reviews__item-a;
	}
	.reviews__info{
		grid-area: reviews__item-b;
	}
	&:not(:first-child){
		padding: 17px 0;
		border-top: 1px solid #F2F2F2;
	}
	&:first-child{
		padding: 0 0 16px 0;
	}
}

.reviews__avatar{
	img{
		width: 48px;
		height: 48px;
		border-radius: 50%;		
	}
}

.reviews__info{
	line-height: 170%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 'a b'
	'c c'
	'd d';
	align-items: center;
	>*:nth-child(1){
		grid-area: a;
	};
	>*:nth-child(2){
		grid-area: b;
		justify-self: end;
	};
	>*:nth-child(3){
		grid-area: c;
	};
	>*:nth-child(4){
		grid-area: d;
	};
}

.reviews__desc{
	margin: 12px 0 8px 0;
}

.cart-line{
	margin: 0 0 8px 0;
	&__1{
		margin: 0 0 0 100px;
	}
	&__2{
		margin: 0 0 0 407px;
	}
	&__3{
		margin: 0 0 0 32px;
	}
	&__4{
		margin: 0 0 0 30px;
	}
}

.cart-line__over-order{

}

.cart-coupon-form{
	>*{
		height: 48px;
	}
}

.cart-coupon-form__text {
	padding: 16px;
	margin: 0 0 0 24px;
	width: 231px;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	@include for-mobile{
		width: 100%;
		margin: 0;
	}
}

%padding-16-border-coupon{
	padding: 0 16px;
	border-radius: 25px;
	border: 0;
}

.cart-coupon-form__add-coupon {
	margin: 0 0 0 12px;
	@extend %padding-16-border-coupon;
	@include for-mobile{
		margin: 12px 0 0 0;
	}
}
.cart-coupon-form__update-cart{
	margin-left: auto;
	@extend %padding-16-border-coupon;
	background: rgba(48, 153, 57, 0.16);
}

.order{
	padding: 0 24px;
	@include for-mobile{
		padding: 0 12px;
	}
}

.order__left-column{
	span:last-child{
		margin: 4px 0 0 0;
	}
}

.order__image{
	width: 48px;
	height: 48px;
	margin: 0 16px 0 0;
	object-fit: fill;
}

.order__right-column-basket{
	display: grid;
	grid-template-columns: max-content 84px max-content max-content;
	grid-template-rows: 1fr;
	grid-template-areas: 'a b c d';
	grid-column-gap: 24px;
	align-self: center;
	>*:nth-child(1){
		grid-area: a;
	}
	>*:nth-child(2){
		grid-area: b;	
	}
	>*:nth-child(3){
		grid-area: c;
	}
	>*:nth-child(4){
		grid-area: d;
	}
	.order__counter{
		padding: 0;
		margin: 0;
	}
	@include for-mobile{
		margin: 8px 0 0 64px;
		grid-row-gap: 8px;
		grid-template-rows: repeat(2, max-content);
		grid-template-areas: 'a a'
		'b c';
		grid-template-columns: 86px auto;
		.order__counter{
			grid-area: b;
		}
		>*:nth-child(3){
			grid-area: a;
		}
		.order__delete{
			grid-area: c;
			display: block;
			margin: 0 0 0 auto;
		}
	}
}

.order__delete{
	width: 20px;
	height: 20px;
	background: url("../../images/delete_icon.png");
	border: 0px;
}

.order__name{
	text-decoration-line: underline;
	color: #5C9EF2;
}

.order__item:not(:first-child){
	border-top: 1px solid #F2F2F2;
}

.order__item{
	padding: 28px 0px;
	@include for-mobile{
		padding: 12px 0;
	}
}

.order__center-column{
	>*{
		>*:not(:first-child){
			margin: 8px 0 0 0;
		}
	}
	>*:last-child{
		margin: 0 0 0 8px;
	};
	@include for-mobile{
		margin: 12px 0 0 0;
	}
}

.order__right-column{
	display: grid;
	justify-content: flex-end;
	grid-template-columns: 1fr 84px 120px;
	grid-template-rows: 42px; 
	grid-template-areas: "a b c";
	grid-column-gap: 24px;
	>*:nth-child(1){
		grid-area: a;
	}
	>*:nth-child(2){
		grid-area: b;
	}
	>*:nth-child(3){
		grid-area: c;
	}
	.stock-card__add-to-card{
		width: 120px;
	}
	@include for-mobile{
		grid-template-columns: repeat(3, max-content);
		grid-column-gap: 6px;
		margin: 12px 0 0 0;
	}
}

.order__counter{
	height: 42px;
	padding: 12px;
	.order__counter-input{
		border: 0px;
		width: 41px;
		text-align: center;
		-moz-appearance:textfield;
		padding: 0 5px;
	}
	.order__counter-input::-webkit-outer-spin-button,
	.order__counter-input::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
	button{
		padding: 0;
		border: 0px;
		background-color: white;
	}
}

.auth-reg{
	input{
		height: 50px;
		margin: 4px 0 0 0;
	}
	.stock-card__add-to-card-green{
		margin: 0;
	}
	a{
		text-decoration-line: underline;
	}
	.woocommerce-privacy-policy-text{
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #828282;
		margin: 16px 0px;
	}
}

.auth__checkbox{
	margin: 0 10px 0 26px !important;
}

.auth__submit{
	width: auto;
	padding: 0 24px;
}

.detail-seller{
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'a b';
	grid-column-gap: 16px;
	.detail-seller__image{
		grid-area: a;
	}
	.detail-seller__info{
		grid-area: b;
	}
	@include for-mobile{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, max-content);
		grid-template-areas: 'a' 'b';
	}
}

.detail-seller__image{
	border-radius: 50%;
	height: 120px;
	width: 100%;
	@include for-mobile{
		width: 120px;
		display: block;
		margin: 0 auto;
	}
}

.detail-seller__info{
	.article__title{
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
	}
}

.detail-seller__p{
	line-height: 150% !important;
	color: #333333;
}

.catalog-card__image{
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
}

.catalog-card{
	>*:last-child{
		margin: 4px 0 0 0;
	}
	p{
		margin: 16px 0 4px 0;
	}
}

.catalog-point-card__image{
	width: 72px;
	height: 72px;
	margin: 0 14px 0 0;
	border-radius: 50%;
	@include for-mobile{
		margin: 0 0 12px 0;
		width: 100px;
		height: 100px;
	}
}

.oformlenie-form{
	select{
		height: 50px;
		border: 1px solid #E0E0E0;
		padding: 0 0 0 10px;
		margin: 4px 0 0 0;
	}
	input[type="radio"]{
		width: 22px;
		height: 22px;
		margin: 0px;
	}
	label{
		margin: 20px 0 0 0
	}
	textarea{
		margin: 4px 0 0 0;
		resize: none;
		border: 1px solid #E0E0E0;
		border-radius: 5px;
	}
	&.profile{
		input[type="submit"]{
			width: 300px;
		}
	}
}

.oformlenie-form__checkbox{
	input[type="checkbox"]{
		display: none;
		&:checked + label:after{
			content: "✓";
			color: white;
			border-radius: 5px;
			border: 2px solid #2F993A;
			height:21px;
			width:16px;
			font-size: 14px;
			background: #2F993A;
		}
	}
	label{
		display: flex;
		flex-direction: row-reverse;
	}
	label:after{
		content:'';
		margin: 0 8px 0 0;
		border-radius: 5px;
		border: 1px solid #E0E0E0;
		height: 21px;
		width: 16px;
	}
}

.oformlenie-form__radio{
	input[type="radio"]{
		display: none;
		&+label{
			display: inline-flex;
			align-items: center;
			user-select: none;
		}
		&+label:before{
			content: "";
			background: url("../../images/icon_radio_noactive.svg");
			width: 22px;
			height: 22px;
			margin: 0 8px 0 0;
		}
		&:checked+label:before{
			width: 22px;
			height: 22px;
			content: url("../../images/icon_radio_active.svg");
		}
	}
}



.oformlenie-form__right-column{
	border: 1px solid #F2F2F2;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	padding: 24px;
	@include for-mobile{
		margin: 16px 0 0 0;
		box-shadow: none;
		padding: 0px;
		border: 0px;
	}
}

.oformlenie-form__radio-div{
	label{
		margin: 2px 0 0 0;
	}
}

.oformlenie-itog{
	width: 100%;
	li{
		>*:nth-child(1){
			max-width: 70%;
		}
		>*:nth-child(2){
			max-width: 30%;
			text-align: end;
		}
	}
}

.oformlenie-form__name-fam{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	grid-template-areas: 'a b';
	>*:nth-child(1){
		grid-area: a;
	}
	>*:nth-child(2){
		grid-area: b;
	}
	@include for-mobile{
		grid-template-columns: 1fr;
		grid-template-areas: 'a' 'b';
		>*:nth-child(2){
			margin: 10px 0 0 0;
		}
	}
}

.input-label-over{
	input{
		height: 50px;
		margin: 4px 0 0 0;
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		padding: 0 10px;
	}
}

.mobile_content_burger{
	display: none;
	width: 100%;
	background: #FFFFFF;
	height: auto;
	z-index: 3;
	position: absolute;
	padding: 20px 0 0 0;
	box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.08);
	border-radius: 16px;
}

.catalog_torg_tochek{
	.open_content{
		margin: 0 0 13px 0;
	}
	ul{
		display: none;
	}
}

.raiting_output{
	.raiting_output__value{
		display: none;
	}
}

.woocommerce .star-rating
{
	width: calc(5em + 12px);
}
.woocommerce .star-rating::before
{
	content: "\53\53\53\53\53";
	color: #E0E0E0;
	float: left;
	top: 0;
	left: 0;
	letter-spacing: 2px;
	position: absolute;
}

.woocommerce .star-rating span::before
{
	font-family: star;
	color: #F2994A;
	letter-spacing: 2px;
}

%header_orders{
	display: grid;
	grid-template-columns: 71px 95px 115px 169px 200px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'a b c d e f'; 	
	>*:nth-child(1){
		grid-area: a;
	}
	>*:nth-child(2){
		grid-area: b;	
	}
	>*:nth-child(3){
		grid-area: c;
	}
	>*:nth-child(4){
		grid-area: d;
	}
	>*:nth-child(5){
		grid-area: e;
	}
	>*:nth-child(6){
		grid-area: f;
	}
}

.title-column-orders{
	padding: 0 24px;
	justify-items: start;
	@extend %header_orders;
	@include for-mobile{
		display: none;	
	}
}

.profile-orders{
	@extend %header_orders;
	@include for-mobile{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, max-content);
		grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f'; 	
		grid-row-gap: 16px;
	}
}

.profile-orders__act{
	padding: 8px 12px 8px 34px;
	background-color: #F2F2F2;
	border-radius: 16px;
	text-align: center;
	display: inline-block;
	position: relative;
	&:after{
		content: url("../../images/profile/view_12.png");
		position: absolute;
		width: 12px;
		height: 12px;
		left: 12px;
	}
	@include for-mobile{
		width: 160px;
	}
}

.detail-order{
	margin: 8px 0 0 0;
	@include for-mobile{
		margin: 16px 0 0 0;
	}
	.detail-order__item:not(:first-child){
		padding: 17px 0 0 0;
		margin: 24px 0 0 0;
		border-top: 1px solid #F2F2F2;
	}	
}

%detail-order-def{
	border-radius: 3px;
	padding: 4px 8px;
}

.detail-order__status{
	background: rgba(48, 153, 57, 0.12);
	@extend %detail-order-def;
	margin: 0 0 0 10px;
}

.detail-order__feedback-button{
	background: #2F993A;
	@extend %detail-order-def;
}

.detail-order__info{
	>*:nth-child(1){
		&:after{
			content: "•";
			margin: 0 8px;
			color: #828282;
		}
	}
}

%zakaz-detail-default-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: 'a b';
	grid-column-gap: 10px;
	>*:nth-child(2){
		grid-area: a;
	}
	>*:nth-child(4){
		grid-area: b;
		justify-self: end;	
		@include for-mobile{
			justify-self: start;
		}
	}
}

.detail-order__item{
	@extend %zakaz-detail-default-grid;
	@include for-mobile{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, max-content);
		grid-template-areas: 'a''b''c''d';
		>*:nth-child(1){
			grid-area: a;
		}
		>*:nth-child(2){
			grid-area: b;	
		}
		>*:nth-child(3){
			grid-area: c;
		}
		>*:nth-child(4){
			grid-area: d;
		}
	}
}

.detail-order__itog-word{
	margin: 16px 0 8px 0;
}

.detail-order-itog{
	padding: 0 24px 24px 24px;
	.detail-order-itog__item{
		display: grid;
		grid-template-columns: 7fr 2fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'a b';
		grid-column-gap: 10px;
		>*:nth-child(1){
			grid-area: a;
		}
		>*:nth-child(2){
			grid-area: b;	
			@include for-mobile{
				justify-self: end;
			}
		}
		@include for-mobile{
			grid-template-columns: repeat(2, 1fr);
		}
		margin: 24px 0 0 0;
	}
	@include for-mobile{
		padding: 0px;
	}
}

.detail-order-overline{
	padding: 24px 24px 0 24px;
	@include for-mobile{
		display: none;
	}
}

.change-password-profile{
	margin: 36px 0 16px 0;
}

.contacts_left-column{
	padding: 0 24px;
	.social_whatsapp{
		color: #64B161;
		&:before{
			content: url("../../images/whatsapp 2.png");
			width: 16px;
			height: 16px;
			margin: 0 4px 0 0;
		}
	}
	.social_telegram{
		color: #039BE5;
		margin: 0 0 0 41px;
		&:before{
			content: url("../../images/telegram 2.png");
			width: 16px;
			height: 16px;
			margin: 0 4px 0 0;
		}
	}
}

.contacts_left-column__item{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, max-content);
	grid-template-areas: 'a' 'b';
	grid-row-gap: 25px;
	padding: 25px 0;
	border-bottom: 1px solid #F2F2F2;
	>*:nth-child(1){
		grid-area: a;
	}
	>*:nth-child(2){
		grid-area: b;
	}
	@include for-mobile{
		grid-row-gap: 16px;
	}
}	

.contacts_maps{
	position: relative;
	&__title{
		position: absolute;
		top: -35px;
	}
	@include for-mobile{
		margin: 62px 0 0 0;
	}
}

.change_address{
	.address_items{
		padding: 16px 0;
		margin: 16px 0 0 0;
		@include for-mobile{

		}
	}
	.address_items:nth-child(n+3){
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;; 
	}
}

.address_items__a{
	margin: 0 0 0 16px;
	img{
		width: 16px;
		height: 16px;
	}
}

.woocommerce span.onsale{
	display:none;
}

.onsale
{
	display: none !important;
}
.bazar_related img
{
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	height: 160px;
}

.woocommerce p.stars a::before
{
	font-family: star;
	content: '\53';
	color: #E0E0E0;
}
.woocommerce p.stars:hover a::before
{
	font-family: star;
	content: '\53';
	color: #F2994A;
}

.woocommerce p.stars a:hover~a::before
{
	content: '\53';
	color: #E0E0E0;
}
.woocommerce p.stars.selected a.active::before
{
	color: #F2994A;
	content: '\53';
}
.woocommerce p.stars.selected a:not(.active)::before
{
	color: #F2994A;
	content: '\53';
}
.woocommerce p.stars.selected a.active~a::before
{
	color: #E0E0E0;
	content: '\53';
}