@mixin for-mobile{
	@media screen and (max-width: 576px){
		@content;
	}
}
.body{
	background: url("../../images/header_top.png") no-repeat;
	background-position: top left;
	width: 100%;
	height: 100%;
}	
.header_plug__logo{
	width: 200px;
	height: 85px;
	margin: 10px 0;
}
.header_plug {
	height: 104px;
}
.plug__title{
	text-align: center;	
}
.plug {
	background: #FFFFFF;
	box-shadow: 0px 0px 84px rgba(0, 0, 0, 0.08);
	border-radius: 48px;
	padding: 72px 0 106px 0;
	@include for-mobile{
		padding: 40px 0 40px 0;
	}
}
.plug__main-image {
	@include for-mobile{
		width: 100%;
	}
}
.plug__info{
	width: 300px;
	margin: 36px auto;
	p{
		margin: 8px 0 0 0;
	}
}
.plug__bottom-info{
	display: block;
	margin: 0 auto;
	width: 868px;
	text-align: center;
	@include for-mobile{
		width: 100%;
	}
}
%padding-4px{
	margin: 0 0 0 4px;
}
.plug__whatsapp {
	color: #64B161;
	@extend %padding-4px;
}
.plug__telegram {
	color: #039BE5;
	@extend %padding-4px;
}
.plug__vk {
	color: #4D76A1;
	@extend %padding-4px;
}
.plug__instagram {
	color: #CF3B9E;
	@extend %padding-4px;
}

.plug_row{
	margin: 72px 0 0 0;
	@include for-mobile{
		margin: 36px 0 0 0;
	}
}

.plug__img{
	width: 180px;
	height: 160px;
	margin: 0 0 17px 0;
	@include for-mobile{
		margin: 30px 0 17px 0;
	}
}

.plug__column-title{
	display: inline-block;
	background: #2F993A;
	padding: 8px 10px;
}

.plug__column-title-red{
	display: inline-block;
	background: #E11E24;
	padding: 8px 10px;	
}

.plug__over-line{
	position: relative;
	margin: 40px 0 0 0;
	&:after{
		content: "";
		top: 0;
		position: absolute;
		width: 100%;
		border: 2px solid #2F993A;
	}
	&-red{
		position: relative;
		margin: 40px 0 0 0;
		&:after{
			content: "";
			top: 0;
			position: absolute;
			width: 100%;
			border: 2px solid #E11E24;
		}
	}
}

.plug__ul{
	margin: 25px 0 0 0;
	&.success{
		li{
			padding: 0 0 0 27px;
			position: relative;
			&:before{
				content: "";
				background: url("../../images/zaglushk-kr-gal.png") -0 -0;
				background-repeat: no-repeat;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
				width: 17px; height: 13px;
			}
			&:nth-child(-n+4){
				margin: 18px 0 0 0;
			}
		}
	}
	&.error{
		li{
			padding: 0 0 0 27px;
			position: relative;
			&:before{
				content: "";
				background: url("../../images/zaglushk-kr-gal.png") -0 -13px;
				background-repeat: no-repeat;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(0, -50%);
				width: 17px; height: 13px;
			}
			&:nth-child(-n+4){
				margin: 18px 0 0 0;
			}
		}
	}
}

.plug__before-column-title{
	padding: 12px 16px;
	background: #2F993A;
	margin: 72px 0 0 0;
}